.scroll-step {
  padding-bottom: 100vh;

  .instructions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      text-align: center;
      font-size: 24px;
      line-height: 32px;
      font-family: MetricWeb, sans-serif;

      @include oGridRespondTo(M) {
        font-size: 32px;
        line-height: 40px;
      }
    }

    h2 {
      text-align: center;
      font-size: 18px;
      line-height: 20px;
      font-family: MetricWeb, sans-serif;
      color: #66605c;
      font-weight: 400;

      @include oGridRespondTo(M) {
        font-size: 20px;
        line-height: 24px;
      }
    }
  }

  .card {
    padding: oGridGutter();
    background-color: rgba(255, 241, 229, 0.8);
    backdrop-filter: blur(12px);
    box-shadow: 0 0 oGridGutter() rgba(38, 42, 51, 0.4);

    @include oGridRespondTo(M) {
      padding: oGridGutter(M);
    }

    p {
      margin-bottom: 0;
    }
  }

  &:last-of-type {
    height: 100vh;
    padding-bottom: 66vh;

    .card {
      padding-right: 0;
      padding-left: 0;
      background: none;
      backdrop-filter: none;
      box-shadow: none;
    }
  }
}
