.scroll-step {
  height: 100vh;

  .card {
    padding: oGridGutter();
    background-color: rgba(255, 241, 229, 0.8);
    backdrop-filter: blur(12px);
    box-shadow: 0 0 oGridGutter() rgba(38, 42, 51, 0.4);

    @include oGridRespondTo(M) {
      padding: oGridGutter(M);
    }
  }
}
